body {
    font-family: sans-serif;
    background-color: #e0e0e0;
    display: flex;
    min-height: 100vh;
    margin: 0;
}

.topo {
    position: fixed;
    background-color: #00BCD4;
    margin: 0 50% 44% 0;
    padding-right: 100%;
}

.lateral {
    background-color: #008c9e;
    width: 15%;
    height: 100;
    border-bottom-left-radius: 10px;
}

.profile {
    margin-top: 65%;
    margin-left: 22.5%;
    border-radius: 70%;
    height: 70%;
    width: 50%;
}

.opcao_lateral {
    color: rgb(236, 236, 236);
    font-size: larger;
    margin-top: 15%;
    margin-left: 8%;
}

.interno {
    padding: 40px;
    margin-left: 0%;
    margin-top: 5%;
}

nav ul {
    list-style-type: none;
    padding: 20px;
    margin: 0px;
}

nav ul li {
    display: inline;
    margin-right: 10%;
}

.img1 {
    height: 65px;
    width: 300px;
}

a {
    text-align: center;
    color: #00BCD4;
    margin-bottom: 20px;
}

p {
    margin: 0;
    margin-left: 8%;
    color: #ccc;
}

.texto {
    font-family: sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0;
    color: black;
}

label {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="date"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.botao {
    background-color: #00BCD4;
    color: white;
    border: 0;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
    margin-top: 10%;
    margin-left: 33%;
    transition-duration: 0.4s;
}

.botao:hover {
    background-color: white;
    color: #00BCD4;
}